<fieldset class="item-fields mb-2 p-2 border rounded">
  <label>商品ID</label>
  <input type="number" name="recipet[recipet_items][<%= index %>][item_id]" />

  <label>数量</label>
  <input type="number" name="recipet[recipet_items][<%= index %>][quantity]" />

  <label>価格</label>
  <input type="number" name="recipet[recipet_items][<%= index %>][price]" />
</fieldset>
